.form-control {
    height: $space-48;
    &:focus{
        border-color    : $color-primary;
        box-shadow      : 0 0 0 0.25rem rgb(77, 83, 224,0.25);
    }
}
.group-field{
    position   : relative;
    display    : flex;
    align-items: stretch;
    width      : 100%;
    input{
        padding-right: 54px;
    }
    .icon-btn{
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }
}
