$font-primary: 'Poppins',sans-serif;


// color variables
$color-secondary: #16365f;
$color-primary: #4d53e0;
$color-tranry: #6b859e;
$color-light:#f7f8fb;
$color-white:#fff;
$color-red:#ff3046;

// color variables
$shadow-primary: rgba(0, 0, 0, 0.15) 0px 0px 10px,
rgba(0, 0, 0, 0.05) 0px 5px 10px;
$shadow-secondary: 4px 4px 16px 0 rgb(77 83 224 / 20%);

// font-weight Variable
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

$radius-s:  0.25rem;
$radius-full:  50%;


$space-8:8px;
$space-12:12px;
$space-16:16px;
$space-24:24px;
$space-42:42px;
$space-48:48px;
$space-72:72px;
$space-250:250px;

